<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
  <category label="Connection">
    <setting id="server" type="text" label="Server address" default="" />
    <setting id="username" type="text" label="Username" default="" />
    <setting id="profile" type="text" label="Profile name (optional)" default="" />
  </category>
  <category label="Pagination">
    <setting
      id="items_per_page"
      type="slider"
      label="Items per page"
      default="200"
      range="20,10,200"
      option="int"
    />
  </category>
</settings>
