<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
  <category label="Connection">
    <setting id="server" type="text" label="Server address" default="" />
    <setting id="username" type="text" label="Username" default="" />
    <setting id="profile" type="text" label="Profile name (optional)" default="" />
  </category>
  <category label="Pagination">
    <setting id="items_per_page" type="slider" label="Items per page" default="200" range="20,10,200" option="int" />
  </category>
  <category label="Internal">
    <setting id="device_id" type="text" label="Device ID" option="hidden" default="" />
    <setting id="token" type="text" label="Access token" option="hidden" default="" />
    <setting id="refresh_token" type="text" label="Refresh token" option="hidden" default="" />
    <setting id="profile_id" type="text" label="Profile ID" option="hidden" default="" />
    <setting id="profile_token" type="text" label="Profile token" option="hidden" default="" />
    <setting id="start_overrides" type="text" label="Playback overrides" option="hidden" default="" />
  </category>
</settings>
